server:
  port: 8080

spring:
  application:
    name: real-time-auction-api
  datasource:
    url: jdbc:postgresql://localhost:5432/auction
    username: auction
    password: auction
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        format_sql: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true

springdoc:
  swagger-ui:
    path: /swagger-ui
